.classpath
.project
.settings/
.vertx/
target/
resources/webroot/app/src/node_modules/
resources/webroot/app/src/typings/
resources/webroot/app/bundle.js
resources/webroot/app/css/
resources/webroot/app/src/.sass-cache
file-uploads/
