$blue: #2980b9;
$dark-blue: #2c3e50;

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

body {
    background-color: #fafafa;
}

label {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #cfcfcf;
    background-color: white;
    font-size: 1.4rem;
    padding: .5rem;
    margin: 0 0 .5rem 0;
    width: 100%;
    border-radius: .2rem;
    &[type="submit"] {
        width: auto;
        float: right;
        color: white;
        background-color: #333;
        border: none;
        font-size: 1.2rem;
        padding: .5rem 2rem;
        -webkit-transition: opacity 200ms ease-in-out;
        &:hover {
            opacity: .7;
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    height: 10rem;
    line-height: 10rem;
    font-size: 1rem;
    color: #afafaf;
}

#login-register-page {
    width: 768px;
    margin: 0 auto;
    #login-page-header {
        margin: 20rem 0;
    }
    #login-form, #register-form {
        width: calc(50% - 2rem);
        float: left;
        margin: 1rem;
    }
}

#app-page {
    width: 768px;
    margin: 0 auto;
    #app-content {
        width: calc(100% - 195px);
        min-height: 1px;
        float: left;
        margin: 0 10px;
    }
    #app-nav {
        margin-top: 1rem;
        width: 175px;
        float: left;
        #profile-picture {
            position: relative;
            width: 175px;
            height: 175px;
            background-color: #efefef;
            margin: 4rem 0 4rem 0;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            #update-profile-img-button {
                display: inline-block;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1rem;
                text-transform: lowercase;
                color: white;
                background-color: $dark-blue;
                padding: .3rem;
                border-radius: .2rem;
                opacity: .5;
                @include transition(opacity 200ms ease-in-out);
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
        #name {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.1rem;
            margin: 2rem 0;
        }
        #nav-links {
            margin: 0 .5rem;
            label {
                font-size: 1rem;
                padding: 2rem 0 1rem 0;
                font-weight: bold;
                margin: 0;
                a {
                    display: inline-block;
                    width: auto;
                    margin: 0 0 0 1rem;
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
            a {
                display: block;
                width: 100%;
                padding: .2rem 0 .2rem .5rem;
                margin: 0;
                text-transform: lowercase;
                font-size: 1.2rem;
            }
        }
    }
}

.box-container {
    h3 {
        font-size: 2.4rem;
        margin: 3rem 0 1rem 2rem;
        padding: 0;
        text-transform: lowercase;
        color: #34495e;
    }
}

#search-result-container {
    width: 100%;
    label {
        margin: .5rem 0 0 0;
        padding: .5rem;
        color: white;
        background-color: transparent;
        border-bottom: 1px dashed #afafaf;
        border-radius: .2rem;
        overflow: hidden;
        color: black;
        &#search-result-label {
            padding: 1rem .5rem;
            background-color: transparent;
            border-bottom: none;
            div {
                display: inline-block;
                float: right;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .content-user-box {
        background-color: white;
        margin: .5rem 0 0 0;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        margin-bottom: 1px;
        border-radius: .2rem;
        .profile-picture {
            height: 50px;
            width: 50px;
            background-color: #efefef;
            overflow: hidden;
            float: left;
            background-size: cover;
            background-position: center;
        }
        .name {
            height: 50px;
            line-height: 50px;
            width: auto;
            float: left;
            text-transform: uppercase;
            text-align: center;
            font-size: 1rem;
            margin-left: 1rem;
        }
        .options {
            height: 50px;
            line-height: 50px;
            float: right;
            width: auto;
            position: relative;
            select {
                height: auto;
                line-height: normal;
                -webkit-appearance: none;
                appearance: none;
                background-color: $blue;
                color: white;
                border: none;
                outline: none;
                padding: .3rem;
                text-transform: uppercase;
                font-size: 1rem;
                border-radius: .2rem;
                overflow: hidden;
            }
        }
    }
}

#create-circle-page {
    margin: 3rem;
    h1 {
        margin: 3rem 0;
    }
    label {
        margin: .5rem 0;
    }
    input, textarea {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        margin: 0;
        width: 100%;
        border: 1px solid #cfcfcf;
        border-radius: .2rem;
        padding: .5rem;
        &[type="button"] {
            float: right;
            width: auto;
            background-color: $dark-blue;
            color: white;
            font-size: 1.1rem;
            text-transform: lowercase;
            border: none;
        }
    }
    textarea {
        height: 10rem;
        resize: none;
    }
}
