
/** http://www.colourlovers.com/palette/376594/Chicanery **/
$lightest: #5FB86B;
$lighter: #3C9949;
$middle: #008748;
$darker: #03484C;
$darkest: #1C232E;

$break-point: 768px;
$menu-width: 165px;

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

html, body, .app {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

label {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;

}

input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #cfcfcf;
    background-color: white;
    font-size: 1.4rem;
    padding: .5rem;
    margin: 0 0 .5rem 0;
    width: 100%;
    border-radius: .2rem;
    outline: none;
    &[type="submit"] {
        width: auto;
        float: right;
        color: white;
        background-color: #333;
        border: none;
        font-size: 1.2rem;
        padding: .5rem 2rem;
        -webkit-transition: opacity 200ms ease-in-out;
        &:hover {
            opacity: .7;
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    height: 10rem;
    line-height: 10rem;
    font-size: 1rem;
    color: #afafaf;
}

#login-register-page {
    width: 768px;
    margin: 0 auto;
    #login-page-header {
        margin: 20rem 0;
    }
    #login-form, #register-form {
        width: calc(50% - 2rem);
        float: left;
        margin: 1rem;
    }
}

#app-page {
    position: relative;
    width: $break-point;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    #app-content {
        width: calc(100% - 215px);
        min-height: 1px;
        float: left;
        margin: 0 20px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    i#nav-button {
        display: none;
        text-align: right;
        @media screen and (max-width: 768px) {
            display: block;
        }
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 1rem;
        font-size: 2.3rem;
        color: $middle;
        z-index: 101;
        &:hover {
            cursor: pointer;
        }
    }
    #app-nav {
        margin-top: 1rem;
        width: 175px;
        padding: 5px;
        float: left;
        @media screen and (max-width: 768px) {
            position: absolute;
            right: -100%;
            top: 0px;
            z-index: 100;
            @include transition(right 200ms ease-in-out);
        }
        #profile-picture {
            position: relative;
            width: $menu-width;
            height: $menu-width;
            background-color: #efefef;
            margin: 4rem 0 4rem 0;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            #update-profile-img-button {
                display: inline-block;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 1rem;
                text-transform: lowercase;
                color: white;
                background-color: rgba(0, 0, 0, .5);
                padding: .3rem;
                border-radius: .2rem;
                @include transition(opacity 200ms ease-in-out);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        #name {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.1rem;
            margin: 2rem 0;
        }
        #nav-links {
            margin: 0 .5rem;
            label {
                font-size: 1rem;
                padding: 2rem 0 1rem 0;
                font-weight: bold;
                margin: 0;
                a {
                    display: inline-block;
                    width: auto;
                    margin: 0 0 0 1rem;
                    padding: 0;
                    font-size: 1.5rem;
                }
            }
            a {
                display: block;
                width: 100%;
                padding: .2rem 0 .2rem .5rem;
                margin: 0;
                text-transform: lowercase;
                font-size: 1.2rem;
                color: $middle;
            }
        }
    }
}

.box-container {
    h3 {
        font-size: 2.4rem;
        margin: 3rem 0 1rem 2rem;
        padding: 0;
        text-transform: lowercase;
        color: #34495e;
    }
}

#search-result-container {
    width: 100%;
    label {
        margin: .5rem 0 .5rem 0;
        padding: .5rem;
        color: white;
        background-color: transparent;
        border-radius: .2rem;
        overflow: hidden;
        color: black;
        background-color: #26A65B;
        color: white;
        &#search-result-label {
            color: black;
            padding: 1rem .5rem;
            background-color: transparent;
            border-bottom: none;
            div {
                display: inline-block;
                float: right;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    #inner-search-result-container {
        margin: 0 3rem;
    }
}

.content-user-box {
    width: 20%;
    .profile-picture {
        width: 50px;
        height: 50px;
        background-color: #efefef;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }
    .name {
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        margin: .5rem 0;
    }
    .type {
        font-size: 1rem;
        text-transform: lowercase;
        font-style: italic;
        text-align: left;
        line-height: 2rem;
        height: 2rem;
        .option-container {
            font-style: normal;
            display: inline-block;
            position: relative;
            float: right;
            i {
                font-size: 1.8rem;
                color: $darker;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover > .options {
                display: block;
            }
            .options {
                line-height: normal;
                height: auto;
                float: left;
                position: absolute;
                left: 50%;
                top: 100%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: $lighter;
                z-index: 500;
                width: auto;
                font-size: 1.1rem;
                display: none;
                border-radius: .2rem;
                overflow: hidden;
                box-shadow: 0 1px 2px #afafaf;
                div {
                    white-space: nowrap;
                    color: white !important;
                    padding: .5rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#create-circle-page {
    margin: 3rem;
    h1 {
        margin: 3rem 0;
        color: $darkest;
    }
    label {
        margin: .5rem 0;
    }
    input, textarea {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        margin: 0;
        width: 100%;
        border: 1px solid #cfcfcf;
        border-radius: .2rem;
        padding: .5rem;
        &[type="button"] {
            float: right;
            width: auto;
            background-color: $darkest;
            color: white;
            font-size: 1.1rem;
            text-transform: lowercase;
            border: none;
        }
    }
    textarea {
        height: 10rem;
        resize: none;
    }
}
